<template>
  <div class="about">
    <h1>Om oss</h1>
    Vi använder <em>SR Öppna API-version 2</em> och materialet tillhör Sveriges
    Radio. <br />
    <br />Här kan du se vilken radioprogram finns på SR och lyssna på P1, P2, P3
    och P4 Göteborg. <br /><br />
    Du kan checka är din favorit låt spelat sista dygnet, gissa artist och få
    reda på de tio mest frekvent använda orden i Studio Ett sista fjorton år. "
    <h3>Vi hoppas att du kommer att njuta i spelet: <br />Guess the artist!</h3>
  </div>
</template>
