<!--innehåller ett sökfält där användaren kan skriva in ett år för att få
en lista på de mest frekvent använda orden i radioprogrammet Studio Ett det aktuella året -->

<template>
  <div>
    <h2>Populära ord i Studio Ett</h2>
    <p>
      Skriv in ett år för att få reda på de tio mest frekvent använda orden i
      Studio Etts programbeskrivningar det året. Fungerar från 2007 och framåt.
    </p>
    <div>
    <input class="search-bar" type="text" v-model="year" />
    <button class="btn-curved" @click="getTopList">Generera</button>
    </div>
    

    <span style="float:left;" v-if="errorState">
      {{ errorMsg }}
    </span>

    <span style="float:left;" v-else>
      <ol>
        <li v-for="(word, index) of topWords" :key="index">
          {{ word[0] }} förekom {{ word[1] }} gånger
        </li>
      </ol>
    </span>

    <pie-chart />
  </div>
</template>

<script>

//ett cirkeldiagram över de fem mest frekvent använda orden
import PieChart from "@/components/PieChart";

export default {
  data() {
    return {
      year: "",
      array: [],
      hasBeenClicked: false,
      errorMsg:
        "Hittade inga ord. Detta kan bero på ett tillfälligt fel, eller att datan inte existerar hos SR.",
    };
  },

  components: {
    PieChart,
  },

  computed: {
    topWords() {
      return this.$store.state.topWords;
    },

    errorState() {
      if (this.topWords.length === 0 && this.hasBeenClicked !== false) {
        return true;
      } else {
        return false;
      }
    },
  },

  methods: {
    getTopList() {
      this.hasBeenClicked = true;
      this.$store.commit("clearWords");
      this.$store.dispatch("updateWords", Number(this.year));
    }
  }
};
</script>
