<template>
  <div id="channelList">
    <div v-for="id in ids" :key="id">
      <channel class="channel" :id="id" />
    </div>
  </div>
</template>

<script>
import Channel from "./Channel.vue";

export default {
  data() {
    return {
      ids: [132, 163, 164, 212]
    };
  },

  components: {
    Channel
  },

  methods: {}
};
</script>
