<template>
  <div id="anchor">
    <Header />
    <Navigation />
    <div id="main-wrapper">
      <main id="main">
        <article id="a1">
          <router-view />
        </article>
        <article id="a2">
          <div>
            <ChannelList />
          </div>
        </article>
      </main>
    </div>
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src

import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import ChannelList from "@/components/ChannelList.vue";
import Navigation from "@/components/Navigation.vue";

export default {
  name: "App",
  components: {
    Header,
    Footer,
    ChannelList,
    Navigation,
  },
};
</script>

<style lang="scss">
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./assets/style/scss/index.scss";
</style>
